body, html{
padding: 0;
margin: 0;
color: white;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    display: none;
  }

body{
    background: url(./images/wallp1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 95vh;
    max-height: 95vh;
    min-width: 1;
}

#vanta{
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

video {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



main{
    position: relative;
    opacity: 0;
    filter: blur(10px);
    transition: opacity 2s ease-in-out, filter 2s ease-in-out;
   
}


header{
    margin-top: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}



header > img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid white;
    box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}


header > h1{
    font-size: 0.9em;
    display: inline-block;
    font-weight: bold;
    border-radius: 1em;
    background-color: #000a;
    color: #fff;
    padding: 0.3em 0.6em;
    border: 2px solid white;
    backdrop-filter: blur(10px) saturate(160%) contrast (180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast (180%);  
}


ul{
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2em;
    max-width: 350px;
}


ul > li{
    background-color: #fffa;
    backdrop-filter: blur(100px) saturate(190%) contrast (250%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast (250%);
    border-radius: 10rem;
    padding: 10px;
    margin: 2.1em 0;
    transition-property: all;
    transition-duration: 500ms;
    transition-delay: 0.5;

}


ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    padding: 0.7em;
  }


a{
    font-size:18px;
    color:black;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.9px;

}

.main-footer{
   cololr:white;
   text-align: left;
   bottom: 0;
   position: fixed;
   width: 100%;

}


.logo_git{
    height:25px;
    filter: invert(1);
}

span{
    color:white;
}



/* BUTTON LINKS */


.hover1:hover{
    
    transform: translateY(-15px);
    transition: 1s;
    box-shadow: 0 0 1em rgb(97, 9, 97);
}

.hover2:hover{
    
    transform: translateY(-15px);
    transition: 1s;
    box-shadow: 0 0 1em red;
}

.hover3:hover{
    
    transform: translateY(-15px);
    transition: 1s;
    box-shadow: 0 0 1em rgb(51, 109, 235);
}

.hover4:hover{
    
    transform: translateY(-15px);
    transition: 1s;
    box-shadow: 0 0 1em #ec4a6a;
}